.task-form {
    display: flex;
    align-content: center;
    border: 2px solid black;   
    margin-top: 40px;
    margin-left: 20px;
}

.task-form_forms_header {
    font-size: 25px;
    margin-left: 5px;
}

.task-form_forms_describe, .task-form_forms_date, .task-form_forms_notes {
    margin-left: 5px;
}

.task-form_forms_describe_btn, .task-form_forms_date_btn, .task-form_forms_notes_btn {
    border: 2px solid black;  
    margin-top: 15px;
}

.task-form_forms_describe_btn{
    margin-left: 10px;
    height: 20px;
}

.task-form_forms_date_btn{
    margin-left: 55px;
    height: 20px;
}

.task-form_forms_notes_btn {
    margin-left: 50px;
    height: 70px;
}

.task-form_forms_add {
    margin-top: 20px;
    margin-left: 270px;
}

.task-form_forms_add_btn {
    height: 30px;
    width: 100px;
}
