.home{
    display:flex;
    flex-direction: row;
    height: 900px;
    overflow: hidden;
}

.home_nav_menu{
    width: 150px;
    
}

.home_table{
    width: 800px;
    height:900px;
}

.table_row{
    height: 20px ;
}

.table_body{
    height: 10px;
}
