.icons{
    display:flex;
    flex-direction: row;
    height: 900px;
  
}

.icons_nav_menu{
    width: 150px;
    
}

.icons_menu{
    margin-top: 30px;
    margin-left: 20px;
}

.icon_style{
    border:1px solid black;
}

.active {
    background: lightgray;    
  }