
.my-task-page {
    display: grid;
    grid-template-areas:
    'sidebar header header '
    'sidebar main  main-end'
    'sidebar main main-end';  
    overflow: hidden;     
    grid-template-columns: 150px  auto;
    grid-template-rows: 100px auto;
    gap:0.2em;  
     }

.navigation-menu {
   grid-area: sidebar;
   height: 800px;      
         }         
         
.header { 
  grid-area: header;   
   }

.task-table { 
  grid-area: main;
     }

.task-form {
   grid-area:main-end;
}




    