
.my-task-page {
    display: grid;
    grid-template-areas:
    'sidebar header header '
    'sidebar main-start main-center'
    'sidebar main main-end';  
    overflow: hidden;     
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto;
    gap:0.2em;  
     }


.navigation-menu {
   grid-area: sidebar;
   height: 700px;      
         }         
         
.header { 
  grid-area: header;   
   }

.task-table { 
  grid-area: main;
  height: 450px; 
     }

.task-form {
   grid-area:main-end;
   height: 450px;   
}

.create-new {
  grid-area: main-start;
  display: flex;
  flex-direction: column;
  height: 130px;
  margin-top: 2px;
  margin-right: 3px;
  width: 700px;
  margin-left: 3px;
  }

.modal {
   grid-area:main-center;
   border:solid 2px black;
   width: 500px;
   height: 130px;
   display: flex;
   flex-direction: row;
}


.create-btn{
   border: 2px solid black;
   height: 30px;
   margin-top: 30px;
   width: 120px;
   margin-left: 2px;  
}

.status_open{
   font-size: large;
}

.status_progress{
   font-size: large;
   margin-top: 3px;
}

.status_done{
   margin-top: 5px;
   font-size: large;
}



    